/* ===============================
   HorizontalBlock Layout
   =============================== */

.wrapper {
	display: flex;
	width: 100%;
	gap: 24px;
	padding: 120px 60px 60px 60px;
	background-color: var(--color-main-black);
	overflow: hidden;

	will-change: transform;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
}

/* ===============================
   Scroll Container
   =============================== */

.scrollContainer {
	display: flex;
	flex: 1 1 auto;
	gap: 8px;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	touch-action: pan-y;
}

.scrollContainer > *:first-child {
	padding-left: 40px;
	min-width: unset;
	min-width: 527px;
}

.scrollContainer::-webkit-scrollbar {
	display: none;
}

.scrollContainer > * {
	flex: 0 0 40%;
	min-width: 600px;
	scroll-snap-align: start;
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;
	touch-action: pan-x;
	min-height: 1px;
}

/* ===============================
   Button visibility
   =============================== */

.tabletButton {
	display: none;
}

/* ===============================
   Tablet (≤768px)
   =============================== */

@media (max-width: 768px) {
	.wrapper {
		position: fixed;
		left: 0;
		flex-direction: column;
		gap: 48px;
		padding: 56px 40px 60px;
		width: 100%;
		height: 100vh;
		background-color: var(--color-main-black);
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 10;
		-webkit-flex-direction: column;
	}

	.scrollContainer {
		scroll-snap-type: none;
	}

	.scrollContainer > *:first-child {
		min-width: unset;
		padding-left: 0;
	}

	.scrollContainer:first-child {
		min-width: unset;
		min-width: 275px;
	}

	.scrollContainer > *:last-child {
		margin-right: 60px;
	}

	.scrollContainer > * {
		width: 100%;
		min-width: unset;
	}
}

/* ===============================
   Mobile (≤360px)
   =============================== */

@media (max-width: 360px) {
	.wrapper {
		padding: 56px 16px 72px 30px;
	}

	.tabletButton {
		display: inline-block;
		width: 100%;
	}
}

/* ===============================
   Accessibility & Motion Preferences
   =============================== */

@media (prefers-reduced-motion: reduce) {
	.scrollContainer {
		scroll-behavior: auto;
	}
}
